body{
	
      background-color: #073D80; 
      color: #FFFFFF; 
      font-family: arial, helvetica, sans-serif; 
      padding:15px; 
      line-height:1.4em;    
      
}
nav ul.menuB {
  list-style-type: none;
  color: #FFFFFF;
  
}

nav ul.menuB li {display:inline; font-size: 2vw; padding:2vw;}
figure {width: 50%}
image {width: 50%}