body{
	
      background-color: #073D80; 
      color: #FFFFFF; 
      font-family: arial, helvetica, sans-serif; 
      padding:15px; 
      line-height:1.4em;    
      
}
figure {width: 50%}
image {width: 50%}